<header>
    <div class="barraNavegacion">
      
        <a href="/Users"><button class="btn">Users</button></a>
        <div class="icono"><a href="/principal"><img src="/img/LogoGPS.png"></a></div>
        <a href="/logout"><button class="btn ml-5">LogOut</button></a>
        
    </div>
</header>