<header>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class= "col-2">
                <div class="row justify-content-center pt-4">
                    <a href="/questions/" type="button" class="btn btn-dark btn-sm ml-1 text-light" style="width: 80%;">Preguntas</a>
                </div>
                <div class="row justify-content-center pt-4">
                    <a href="/questions/notAnswered/" type="button" class="btn btn-dark btn-sm ml-1 text-light" style="width: 80%;">Sin responder</a>
                </div>
                <div class="row justify-content-center pt-4">
                    <a href="/users/" type="button" class="btn btn-dark btn-sm ml-1 text-light" style="width: 80%;">Usuarios</a>
                </div>
            </div>
            <div class= "col-2 text-center dark fire"><h1 class="Blazing" contenteditable="true">404</h1></div>
            <div class= "col-2 text-center">
                <div>
                    <% if(userImg !== null) {%>
                        <img src="<%= userImg %>" class="mt-4 user_img" alt="Foto de perfil">
                    <% }else{%> 
                    <% }%> 
                    <a href="/users/logoutUser" class="btn btn-dark btn-sm my-4 text-light"style="width: 70%;">Cerrar Sesión</a>
                </div>
            </div>
        </div>
        <form action="/questions/search" method="GET" class="row justify-content-center mt-2">
            <div class="col-1 text-end">
                <button type="submit" class="btn btn-dark btn-sm" style="width: 70%;">Buscar</button>
            </div>
            <div class="col-11">
                <input type="text" class="form-control" style="width: 90%;" name="desiredText" placeholder="Buscar por título/cuerpo de pregunta"> 
            </div>
        </form>
    </div>
    
</header>