<!DOCTYPE html>
<html lang="es">
<!--SINO FUNCIONA CAMBIAR BARRAS DE ENLACE CSS -->
    <head>
        <title>AW</title>
        <link  rel="icon"   href="./img/favicon.jpg" type="image/jpg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
        <meta charset="utf-8"/>
            <link href="./css/stylesheet.css" rel="stylesheet" type="text/css">

    </head>
   
    <body>
        <div class="contenedor_global">
            <header class="header">
                <div class="tareas">TAREAS</div>
                <div class="header_derecho">
                    <div class="foto_perfil">
                        <img src="./img/interrogacion.jpg" width="100em" height="100em">
                    </div>
                    <div class="usuario_boton">
                        <div class="usuario">
                            <p>usuario@gmail.com</p>
                        </div>
                        <div class="boton">
                            <p>Desconectar</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="contenedor_tabla">
                <div class="task">
                    <div class="task_tagtext">
                        Preparar Practica AW
                        <div class="task_tags">Tag</div>
                        <div class="task_tags">TagTagTag</div>
                    </div>
                    
                    <button class="task_button">Marcar finalizado</button>
                </div>
                <div class="task_complete">Tarea Completada</div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="searchbar_box">
                    <input type="text" name="tarea_agnadir" class="searchbar">
                    <button class="task_button">Añadir</button>
                </div>
                <button class="bigbutton">Eliminar tareas completadas</button>
                
            </div>
           
        </div>
    </body>
</html>
